html, body{
	background-color: #FFFFFF;
}

.reveal section img.img-zile{
	border: none;
	background: none;
	box-shadow: none;
}

.reveal section img.img-zile.pq{
	width: 20%;
}
.reveal section img.img-zile.mpq{
	width: 18%;
}
.reveal section img.img-zile.nr{
	width: 30%;
}

section.seccion-completa{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	top: 0px !important;
	padding: 0px !important;
}

.reveal section .titular-principal{
	color: #FFFFFF;
}

section .titular-principal.contexto{
	width: 85%;
	font-family: Verdana;
	font-weight: lighter;
	text-shadow: 2px 2px #6683a5;
	margin: 0 auto;
}

.contenedor-mapa{
	position: relative;
	width: 100%;
	height: 100%;
/*	margin: 0;
	padding: 0;*/
	background-image: url('../img/mapa.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: right;
}

.presentacion-izq{
	position: absolute;
	width: 60%;
	background-image: url('../img/blanco-izq.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent;
	color: #5E5E5E;
	height: 100%;
	background-position: right;
	padding-left: 20px !important;
	padding-top: 20px !important;
	text-align: left;
}
.presentacion-der{
	position: absolute;
	width: 60%;
	right: 0;
	height: 100%;
}
.presentacion-der.pq{
	position: absolute;
	width: 40%;
	right: 0;
	height: 100%;
}
.contenedor-puntero{
	position: relative;
	top: 51%;
	text-align: left;
	width: 20%;
	left: 32%;
}

.contenedor-presentacion{
	position: relative;
	width: 100%;
	height: 100%;
}

.presentacion-centro{
	position: absolute;
	width: 100%;
	background-image: url('../img/blanco-cent.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent;
	color: #5E5E5E;
	height: 100%;
	background-position: center top;
	padding-left: 20px !important;
	padding-top: 20px !important;
	text-align: left;
}

.presentacion-centro2{
	position: absolute;
	width: 100%;
	background-image: url('../img/blanco-cent-2.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent;
	color: #5E5E5E;
	height: 100%;
	background-position: center top;
	padding-right: 20px !important;
	padding-top: 20px !important;
	text-align: right;
}


.img-puntero{
	width: 80px;
}

.txt-izq{
	text-align: left;
}
.txt-cen{
	text-align: center;
}
.txt-der{
	text-align: right;
}


section .zile-lista .zile-item{
	margin-top: 20px;
	margin-bottom: 20px;
}

section .txt-info-pres{
	position: absolute;
	left: 0px;
	bottom: 30px;
}

section .v-center-contenedor{
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
}
section .v-center-contenido-v{
	display: table-cell;
	vertical-align: middle;
}
section .v-bottom-contenido{
	display: table-cell;
	vertical-align: bottom;
}
section .v-top-contenido{
	display: table-cell;
	vertical-align: top;
}

section .v-center-contenido-h{
	text-align: center;
}

/*#zile-0{
	background-image: url('../img/fondo-0.jpg');
}*/

.alto-completo{
	height: 100%;
	position: relative;
}

.fondo-cover{
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.wrapper{
	width: 100%;
	height: 100%;
	/*background-image: url('../img/fondo.jpg');*/	
}

.link-zile{
	display: inline-block;
	text-decoration: none;
}

section .presentacion-centro .zile-slide{
	position: relative;
	width: 40%;
	padding-left: 40px !important;
	padding-right: 40px !important;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	font-size: 0.9em !important;
}

section .presentacion-centro .zile-slide.top{
	height: 30%;
	left: 35%;
	/*margin-top: 40px;*/
}
section .presentacion-centro .zile-slide.center{
	height: 30%;
	left: 26%;
}
section .presentacion-centro .zile-slide.bottom{
	height: 30%;
	left: 21%;
}

section .presentacion-centro .img-slide-texto{
	float: left;
	width: 25%;
	position: relative;
}
section .presentacion-centro .slide-texto{
	float: left;
	width: 70%;
	position: relative;
	left: 20px;
}


/*************************************/

section .presentacion-centro2 .zile-slide{
	position: relative;
	width: 40%;
	padding-left: 40px !important;
	padding-right: 40px !important;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	font-size: 0.9em !important;
}

section .presentacion-centro2 .zile-slide.top{
	height: 30%;
	left: 13%;
	/*margin-top: 40px;*/
}
section .presentacion-centro2 .zile-slide.center{
	height: 30%;
	left: 21%;
}
section .presentacion-centro2 .zile-slide.bottom{
	height: 30%;
	left: 23%;
}

section .presentacion-centro2 .img-slide-texto{
	float: left;
	width: 25%;
	position: relative;
}
section .presentacion-centro2 .slide-texto{
	float: left;
	width: 70%;
	position: relative;
	left: 20px;
}
/*************************************/



.izqader{
  -webkit-animation: movingboxder 30s infinite; /* Safari 4+ */
  -moz-animation:    movingboxder 30s infinite; /* Fx 5+ */
  -o-animation:      movingboxder 30s infinite; /* Opera 12+ */
  animation:         movingboxder 30s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes movingboxder{
	0%{ left: -12%; }
	50%{ left: 12%; }
	100%{ left: -12%; }
}
@-moz-keyframes movingboxder {
	0%{ left: -12%; }
	50%{ left: 12%; }
	100%{ left: -12%; }
}
@-o-keyframes movingboxder {
	0%{ left: -12%; }
	50%{ left: 12%; }
	100%{ left: -12%; }
}
@keyframes movingboxder {
	0%{ left: -12%; }
	50%{ left: 12%; }
	100%{ left: -12%; }
}

.deraizq{
  -webkit-animation: movingboxizq 30s infinite; /* Safari 4+ */
  -moz-animation:    movingboxizq 30s infinite; /* Fx 5+ */
  -o-animation:      movingboxizq 30s infinite; /* Opera 12+ */
  animation:         movingboxizq 30s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes movingboxizq{
	0%{ left: 12%; }
	50%{ left: -12%; }
	100%{ left: 12%; }
}
@-moz-keyframes movingboxizq {
	0%{ left: 12%; }
	50%{ left: -12%; }
	100%{ left: 12%; }
}
@-o-keyframes movingboxizq {
	0%{ left: 12%; }
	50%{ left: -12%; }
	100%{ left: 12%; }
}
@keyframes movingboxizq {
	0%{ left: 12%; }
	50%{ left: -12%; }
	100%{ left: 12%; }
}

.contenedor-presentacion-pisq{
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: right;
}

.contenedor-presentacion-pisq.academia{
	background-image: url('../img/fondos/04.jpg');
}
.contenedor-presentacion-pisq.empresarios{
	background-image: url('../img/fondos/05.jpg');
}
.contenedor-presentacion-pisq.gobierno{
	background-image: url('../img/fondos/06.jpg');
}
.contenedor-presentacion-pisq.sociedad{
	background-image: url('../img/fondos/07.jpg');
}

.contenedor-presentacion-pisq.generar-1{
	background-image: url('../img/fondos/09.jpg');
}
.contenedor-presentacion-pisq.generar-2{
	background-image: url('../img/fondos/10.jpg');
}
.contenedor-presentacion-pisq.generar-3{
	background-image: url('../img/fondos/09.jpg');
}
.contenedor-presentacion-pisq.generar-4{
	background-image: url('../img/fondos/10.jpg');
}




.contenedor-presentacion-pder{
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: left;
}

.contenedor-presentacion-pder.parcon{
	background-image: url('../img/fondos/08.jpg');
}
.contenedor-presentacion-pder.industrial{
	background-image: url('../img/fondos/10.jpg');
}
.contenedor-presentacion-pder.servicios{
	background-image: url('../img/fondos/14.jpg');
}
.contenedor-presentacion-pder.agropecuario{
	background-image: url('../img/fondos/15.jpg');
}
.contenedor-presentacion-pder.maricultor{
	background-image: url('../img/fondos/13.jpg');
}
.contenedor-presentacion-pder.minero{
	background-image: url('../img/fondos/12.jpg');
}
.contenedor-presentacion-pder.energetico{
	background-image: url('../img/fondos/11.jpg');
}

section .img-logos-ac{
	margin-top: 40px !important;
	width: 40%;
	border-radius: 17px 17px 17px 17px;
	-moz-border-radius: 17px 17px 17px 17px;
	-webkit-border-radius: 17px 17px 17px 17px;
	border: 0px solid #000000 !important;

	-webkit-box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.90);
	-moz-box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.90);
	box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.90);
}

.img-collage{
	width: 70%;
}
.img-logo-espol{
	width: 150px;
}

section .slide-txt-izq{
	text-align: left;
	width: 69%;
}

.contenedor-presentacion.fondo-donde{
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: top;
	background-image: url('../img/bg/bg-07.jpg');
}

section .texto-azul-bajo{
	position: absolute;
	margin: 0 auto;
	text-align: center;
	bottom: 7%;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
}

section .texto-bajo{
	position: absolute;
	margin: 0 auto;
	text-align: center;
	bottom: 1%;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
}

.img-frase{
	position: absolute;
	bottom: 0px;
	right: 110px;
}

.fondo-textura{
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: repeat;
	background-image: url('../img/textura-triangulo.png');
	background-size: 50px;
	opacity: 0.5;

	-webkit-animation: slide 80s linear infinite; /* Safari 4+ */
	-moz-animation:    slide 80s linear infinite; /* Fx 5+ */
	-o-animation:      slide 80s linear infinite; /* Opera 12+ */
	animation:         slide 80s linear infinite; /* IE 10+, Fx 29+ */
}



@-webkit-keyframes slide{
	from { background-position: right 100%; }
	to { background-position: top 0; }
}
@-moz-keyframes slide {
	from { background-position: right 100%; }
	to { background-position: top 0; }
}
@-o-keyframes slide {
	from { background-position: right 100%; }
	to { background-position: top 0; }
}
@keyframes slide {
	from { background-position: right 100%; }
	to { background-position: top 0; }
}

section .titular-azul{
	color: #0096ff;
	font-weight: bold;
	font-family: Arial;
}

section .texto-azul{
	color: #0096ff;
	font-family: Arial;
	width: 85%;
	margin: 0 auto;
	font-weight: normal;
}

section .contenedor-numero{
	color: #FFFFFF;
	font-weight: bold;
}

section .clear{
	clear: both;
}

section .contenedor-numero .numero{
	color: #FFFFFF;	
	font-weight: bold !important;
	float: left;
	width: 20%;
	font-size: 4.5em;
	/*text-align: right;*/
	font-family: Arial;
	margin-right: 10px;
}


section .contenedor-numero .texto{
	color: #FFFFFF;	
	float: left;
	width: 75%;
	text-align: justify;
	font-family: Arial;
}

section .contenedor-numero .texto.top-espacio{
	margin-top: 30px;
}

section .img-zile-logo-sp{
	width: 15%;
	margin-top: 40px !important;
	margin-bottom: 0px !important;
}

section .texto-parrafo{
	font-size:  0.7em;
}

section .img-3palabras{
	width: 52%;
	right: 9%;
	position: relative;
}





section .presentacion-derecha{
	position: absolute;
	width: 68%;
	background-image: url('../img/blanco-der.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent;
	color: #5E5E5E;
	height: 100%;
	background-position: left;
	padding-left: 20px !important;
	padding-top: 20px !important;
	text-align: right;
	right: 0;
}
section .presentacion-izquierda{
	position: absolute;
	width: 30%;
	left: 0;
	height: 100%;
}


section .slide-txt-der{
	text-align: right;
	width: 60%;
	clear: both;
	right: 0px;
	position: absolute;
	padding-right: 20px;
}

section .img-frase-2{
	position: absolute;
	bottom: 0px;
	left: 20px;
}


/* ---------------------- Girar ---------------------- */
/* Firefox */
@-moz-keyframes bladeSpin {
   from { -moz-transform: rotate(0deg); }
   to { -moz-transform: rotate(360deg); }
}
/* WebKit - Chrome and Safari */
@-webkit-keyframes bladeSpin {
   from { -webkit-transform: rotate(0deg); }
   to { -webkit-transform: rotate(360deg); }
} 
/* Opera */
@-o-keyframes bladeSpin {
   from { -o-transform: rotate(0deg); }
   to { -o-transform: rotate(360deg); }
} 

section .blades{
   /* Firefox */
   -moz-animation: bladeSpin 60s linear infinite;
   /* WebKit - Chrome and Safari */
   -webkit-animation: bladeSpin 60s linear infinite;
   /* Opera */
   -o-animation: bladeSpin 60s linear infinite;
   /* general syntax */
   animation: bladeSpin 60s linear infinite;
}

/* Firefox */
@-moz-keyframes innerBladeSpin {
   from { -moz-transform: rotate(0deg); }
   to { -moz-transform: rotate(-360deg); }
}
/* WebKit - Chrome and Safari */
@-webkit-keyframes innerBladeSpin {
   from { -webkit-transform: rotate(0deg); }
   to { -webkit-transform: rotate(-360deg); }
} 
/* Opera */
@-o-keyframes innerBladeSpin {
   from { -o-transform: rotate(0deg); }
   to { -o-transform: rotate(-360deg); }
}

section .innerblades{
   /* Firefox */
   -moz-animation: innerBladeSpin 60s linear infinite;
   /* WebKit - Chrome and Safari */
   -webkit-animation: innerBladeSpin 60s linear infinite;
   /* Opera */
   -o-animation: innerBladeSpin 60s linear infinite;
   /* general syntax */
   animation: innerBladeSpin 60s linear infinite;
}

.absoluto{
	position: absolute;	
}

section .contenedor-circulos-espol{
	width: 50%;
	margin: 0 auto;
	position: relative;
	height: 100%;
	background-image: none;
	background: transparent;
}

section	.contenedor-zile-espol{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	background-image: url('../img/logo-espol-01.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 30%;
}

section .contenedor-circulos{
	width: 50%;
	margin: 0 auto;
	position: relative;
	height: 100%;
	background-image: url('../img/circulo-central.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 50%;
}

section	.contenedor-zile{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	background-image: url('../img/logo-zile.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 25%;
}

section .txt-circulo{
	position: absolute;
	background-image: url('../img/circulo-lateral.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100px;
	height: 100px;
	padding: 20px;
}
section .txt-circulo .texto{
	color: #949494;
	font-family: Verdana;
	font-weight: lighter;
	font-size: 12px;
}

section .txt-circulo.txt-circulo-1{
	top: 15%;
	left: 10%;
}
section .txt-circulo.txt-circulo-2{
	top: 0%;
	left: 40%;
}
section .txt-circulo.txt-circulo-3{
	top: 15%;
	right: 10%;
}
section .txt-circulo.txt-circulo-4{
	top: 45%;
	left: 5%;
}
section .txt-circulo.txt-circulo-5{
	top: 45%;
	right: 5%;
}
section .txt-circulo.txt-circulo-6{
	top: 70%;
	left: 22%;
}
section .txt-circulo.txt-circulo-7{
	top: 70%;
	right: 22%;
}



section .contenedor-aspas{
	width: 60%;
	margin: 0 auto;
	position: relative;
	height: 100%;
	background-image: url('../img/aspas.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 60%;
}

section .img-aspas{
	position: absolute;
	height: 75%;
	left: 0px;
}

section .txt-aspa{
	position: absolute;
	color: #FFFFFF;
	font-family: Verdana;
	font-weight: lighter;
	text-shadow: 2px 2px #6683a5;
}

section .txt-aspa.txt-aspa-1{
	top: 10%;
	left: 0px;
}
section .txt-aspa.txt-aspa-2{
	top: 10%;
	right: 0px;
}
section .txt-aspa.txt-aspa-3{
	bottom: 20%;
	right: 0px;
}
section .txt-aspa.txt-aspa-4{
	bottom: 20%;
	left: 0px;
}

section .seccion-interrelacion{
	position: relative;
	width: 100%;
	height: 100%;
}
section .seccion-interrelacion .seccion-ls{
	position: relative;
	height: 100%;
	display: inline-block;
}
section .seccion-interrelacion .seccion-izq{
	width: 29%;
}
section .seccion-interrelacion .seccion-cen{
	width: 40%;
	background-image: url('../img/centro.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
section .seccion-interrelacion .seccion-der{
	width: 29%;
}

section .seccion-interrelacion .lista-inter{
	position: relative;
	font-family: Verdana;
	font-weight: normal;
	font-size: 18px;
	padding-left: 17%;
	padding-right: 17%;
}
section .seccion-interrelacion .lista-inter .item-inter{
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
}

section .seccion-interrelacion .seccion-izq .lista-inter{
	color: #FFFFFF;
	list-style: none;
}
section .seccion-interrelacion .seccion-cen .lista-inter{
	color: #949494;
}
section .seccion-interrelacion .seccion-der .lista-inter{
	color: #FFFFFF;
	list-style: none;
}

/*Media Querys*/
/* Large desktop */
@media (min-width: 1921px) {

}

@media (min-width: 1200px) {

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}
 
/* Landscape phones and down */
@media (max-width: 480px) {

}

