@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

.fondo-animado	{ 
	width: 100%; 
	height: 100%; 
	background-image: url('../img/textura-triangulo.png');
	background-position: 0px 0px;
	background-repeat: repeat-x;
	/*background-repeat: repeat-y;*/

	animation: animatedBackground 40s linear infinite;
}