

/* --------------------------------------------------------------- */
  /*BOREALIS*/
  .wavey{
    /* Make the hidden image fit to the full window to match the background on the html element */
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    opacity:0.8;
    
    /* Set the background */
    background: transparent url('lines.jpg') repeat top left;
    
    /* Set the mask (uses the same properties as background) */
    -webkit-mask-image: url('wavey4.png');
    -webkit-mask-repeat:repeat-y;
    
    -webkit-animation-name: pulsed;
    -webkit-animation-duration: 1000s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }

  .waveyecho{
    /* Make the hidden image fit to the full window to match the background on the html element */
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    
    /* Set the background */
    background: transparent url('lines.jpg') repeat top left;
    opacity:0.5;
    
    /* Set the mask (uses the same properties as background) */
    -webkit-mask-image: url('wavey3.png');
    -webkit-mask-repeat:repeat-y;
    
    -webkit-animation-name: pulsedecho;
    -webkit-animation-duration: 1000s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }

  #pulsed{
    /* Make the hidden image fit to the full window to match the background on the html element */
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    
    /* Set the background */
    
    /* Set the mask (uses the same properties as background) */
    -webkit-mask-image: url('fade.png');
    -webkit-mask-repeat:repeat-x;
    
  }


  @-webkit-keyframes pulsed {
    0% { -webkit-mask-position: 0px -5000px; background-position: 1% 1%; }
    50% { -webkit-mask-position: -500px 5000px; background-position: -1000% 1%; }
    100% { -webkit-mask-position: 0px 15000px; background-position: -3000% 1%; }
  }

  @-webkit-keyframes pulsedecho {
    0% { -webkit-mask-position: 0px 20000px; background-position: -1000% 1%; }
    50% { -webkit-mask-position: -500px 15000px; background-position: 0% 1%; }
    100% { -webkit-mask-position: 0px 0px; background-position: -1000% 1%; }
  }

/* --------------------------------------------------------------- */
