html, body{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  margin: 0;
  padding: 0;
}


div.fondoanimado {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url('textura-triangulo.png');
  background-repeat: repeat;
  background-position: left bottom;
  background-size: 50px;
  opacity: 0.5;

  -webkit-animation: slide 80s linear infinite; /* Safari 4+ */
  -moz-animation:    slide 80s linear infinite; /* Fx 5+ */
  -o-animation:      slide 80s linear infinite; /* Opera 12+ */
  animation:         slide 80s linear infinite; /* IE 10+, Fx 29+ */
}


@-webkit-keyframes slide{
from { background-position: top 0; }
  to { background-position: right 100%; }
}
@-moz-keyframes slide {
from { background-position: top 0; }
  to { background-position: right 100%; }
}
@-o-keyframes slide {
from { background-position: top 0; }
  to { background-position: right 100%; }
}
@keyframes slide {
from { background-position: top 0; }
  to { background-position: right 100%; }
}
